.error-text {
  position: absolute;
}
.ant-form-wrap {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  margin-left: 0;
  column-gap: 15px;
  width: 100%;
}
.ant-design-form {
  width: 100%;
}
