.error-text {
  position: absolute;
}

.ant-form-wrap {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  margin-left: 0;
  column-gap: 15px;
  width: 100%;
}

.ant-design-form {
  width: 100%;
}

.error-text {
  color: rgb(204 46 46 / 85%);
  padding: 2px 0px;
  font-size: 10px;
}

.col {
  color: #c21a1a;
  font-size: 32px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: right;
}

.add-icon {
  font-size: 30px;
  color: #1a50d6;
  padding-left: 20px;
}

.ant-date {
  width: 100%;
  height: 35px;
  border: 1px solid #e7dada;
  border-radius: 4px;
}

.ant-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
