.ant-layout-header {
  height: 64px !important;
  padding: 0 !important;
  line-height: 64px !important;
  background: #89898991 !important;
}
.ant-layout-footer {
  padding: 24px 160px !important;
  color: rgb(74 71 71 / 85%) !important;
  font-size: 14px !important;
  background: #c9cdd2 !important;
}
.ant-page-header-heading-left {
  margin: 16px !important;
}
